// --- Базовые переменные --- //

$color-body: #fff;
$font-style-body: normal;
$font-weight-body: 400;
$font-size-body: 1em;
$font-family-body: 'Roboto', sans-serif;
$line-height-body: 1;

$viewport-wrapper: 1200px;

$color-visited-link: #fff;
$color-hover-link: #fff;
$color-focus-active-link: #fff;

// --- Block 1 .first-screen --- //
$block-1-bg: #000;
$block-1-color: #fff;

// --- Block 2 .anticipation --- //
$block-2-bg: #000;
$block-2-color: #fff;

// --- Block 3 .buy --- //
$block-3-bg: #fff;
$block-3-title-color: #383737;
$block-3-subtitle-color: #a2a2a2;
$block-3-input-color:#868686;
$block-3-table-color:#cbcbcb;
$block-3-border: #d9d9d9;

// --- Block 4 .package --- //
$block-4-bg: #fff;
$block-4-topBlock-color: #282828;
$block-4-centerBlock-color: #b4b4b4;
$block-4-bottomBlock-color: #2c2c2c;
$block-4-border: #dfdfdf;
$block-4-element1-color: #f9d423;
$block-4-element2-color: #7f8c8d;
$block-4-element3-color: #f85f40;
$block-4-element4-color: #1abc9c;

// --- Block 5 .about --- //
$block-5-bg: #fff;
$block-5-title-color: #303030;
$block-5-text-color: #747474;
$block-5-link-color: #8e8e8e;
$block-5-linkHover-color: #1f89ba;
$block-5-border: #e5e5e5;

// --- Block 6 .slider --- //
$block-6-bg: #000;
$block-6-color: #fff;

// --- Block 7 .feature --- //
$block-7-bg: #fff;
$block-7-title-color: #303030;
$block-7-text-color: #7e7e7e;
$block-7-element1-color: #f1c40f;
$block-7-element2-color: #0faff1;
$block-7-element3-color: #95a5a6;
$block-7-element4-color: #f1540f;

// --- Block 8 .ftr --- //
$block-8-bg: #2a2a2a;
$block-8-color: #fff;














